body, html{
    margin : 0;
    padding : 0;
    overflow : hidden;
    height:100%;
    width:100%;
}

h1.title {
  position: relative;
  float: right;
  margin-right: 20px;

}

.app-container {
	height: 100%;
}

#board-container {
	height: 100%;
	width: 100%;
}

svg {
	height: 100%;
	width: 100%;
  /*border: 1px solid black;*/
}

/*
 *
 * TOOLBAR 
 *
 */

.toolbar {
  z-index: 1000000;
  position: absolute;
  top: 0px;
  height: 100%;
  /*width: 2px;*/
  color: white;
  /*transition-duration: .2s;
  transform: translate3d(0, 0, 0);*/
}

.toolbar .menu-opener {
  height: 100%;
  width: 2px;
  position: absolute;
  z-index: 1000001;
  transform: translate3d(-10px, 0, 0);
}

.toolbar .menu-opener.show,
.menu.first-level.show {
  transform: translate3d(0, 0, 0);
}

.menu.first-level {
  height: 100%;
  width: 200px;
  position: absolute;
  z-index: 1000002;
  transform: translate3d(-200px, 0, 0);
  background-color: red;
}

.menu .sub.wb-first-level {
  height: 33.33%;
  width: 100%;
}

.menu.second-level {
  height: 100%;
  width: 200px;
  position: absolute;
  z-index: 1000003;
  left: -200px;
  background-color: orange;
}

.menu.second-level.show {
  transform: translate3d(400px, 0, 0);
}

.menu .sub.wb-second-level {
  height: 25%;
  width: 100%;
}









/*.toolbar p {
  z-index: 10;
  position: relative;
  pointer-events: none;
}

.toolbar.show {
  width: 200px;
}*/

/*.toolbar:hover {
	transition-duration: .2s;
	transform: translate3d(200px, 0, 0);
}
*/
/*.first-level {
	margin-left: -200px;
	height: 100%;
	width: 200px;
	background-color: red;
	position: relative;
}*/

/*.first-level.show {
  transition-duration: .2s;
  transform: translate3d(200px, 0, 0);
}

.menu-box {
  height: 33.33%;
  text-align: center;
}*/

/*.show {
  transition-duration: .2s;
  transform: translate3d(200px, 0, 0);
}
*/
/*.hide {
  transition-duration: .2s;
  transform: translate3d(-200px, 0, 0);
}*/
/*.active-area {
  float: right;
  position: relative;
  background-color: black;
  width: 50%;
  height: 100%;
  margin-top: -30px;
}*/

/*.second-level {
  width: 200px;
  height: 100%;
  position: absolute;
  margin-top: -30px;
  margin-left: -200px;
  background-color: green;*/
  /*transition-duration: .2s;
  transform: translate3d(-140px, 0, 0);*/
/*}

.second-level.show {
  transform: translate3d(400px, 0, 0);
}

.sub-second {
  width: 100%;
  height: 25%;
}*/

/*.active-area:hover .second-level {
  transition-duration: .2s;
  transform: translate3d(200px, 0, 0);
  width: 200px;
  left: 200px;
}*/
/*.toolbar-container.show {
	transition-duration: .5s;
	transform: translate3d(150px, 0, 0);
}*/

/*.toolbar {
  z-index: 1000000;
  position: relative;
  margin-top: -50px;
}

.toolbar-container {
  top: -165px;
  left: -165px;
  width: 330px;
  height: 330px;
  display: block;
  position: relative;
  z-index: 99990
}

.toolbar .left.fill {
  width: 190px;
  height: 190px;
  background-color: black;
  position: absolute;
  top: 70px;
  left: 70px;
  border-radius: 50%;
  z-index: 99980;
}

.toolbar left.fill.expanded {
  width: 230px;
  height: 230px;
  top: 50px;
  left: 50px;
  }

.toolbar .left.stroke {
  width: 220px;
  height: 220px;
  background-color: red;
  top: 55px;
  left: 55px;
  border-radius: 50%;
  position: absolute;
  z-index: 99970;
}

.toolbar .left.stroke.expanded {
	width: 330px; 
	height: 330px;
	top: 0px;
	left: 0px;
}

.toolbar .left.toolbelt {
  width: 330px;
  height: 330px;
  background-color: blue;
  top: 0px; 
  left: 0px; 
  border-radius: 50%;
  position: absolute;
  z-index: 99960;
}

.toolbar .left.toolbelt.expanded {
  width: 480px;
  height: 480px;
  top: -75px;
  left: -75px;
}*/

/* On hover */

/*toolbar .left.main:hover {
  animation-duration: .8s;
  animation-name: expand-toolbar;
  animation-fill-mode: forwards;
}*/

/*
 *
 * ANIMATIONS
 *
 */

@keyframes expand-fill {
  from {
    width: 330px;
  	height: 330px;
  	/*top: -165px
  	left: -165px;*/
  }

  to {
    width: 450px;
  	height: 450px;
    /*top: -165px;
  	left: -165px;*/
  }
}

@keyframes expand-stroke {
  from {
    width: 190px;
  	height: 190px;
  	top: -95px
  	left: -95px;
  }

  to {
    width: 290px;
  	height: 290px;
  	top: -145px;
  	left: -145px;
  	background-color: orange
  }
}

@keyframes expand-toolbelt {
  from {
    width: 190px;
  	height: 190px;
  	top: -95px
  	left: -95px;
  }

  to {
    width: 290px;
  	height: 290px;
  	top: -145px;
  	left: -145px;
  	background-color: orange
  }
}