body, html{
    margin : 0;
    padding : 0;
    overflow : hidden;
    height:100%;
    width:100%;
    font-family: San Francisco;
    font-weight: 200;
}

h1.title {
  /*position: relative;
  float: right;
  margin-right: 20px;*/
  position: absolute;
  right: 20px;
}

.app-container {
	height: 100%;
}

#board-container {
	height: 100%;
	width: 100%;
}

svg {
	height: 100%;
	width: 100%;
  /*border: 1px solid black;*/
  position: absolute;
}

/*
 *
 * TOOLBAR 
 *
 */

.toolbar {
  position: absolute;
  top: 0px;
  left: -150px;
  height: 100%;
  width: 200px;
  color: white;
}

.toolbar.show {
  left: 0;
}

.toolbar .menu {
  /*width: 100%;*/
  width: 95.8%;
  /*background-color: red;*/
  /*background-color: rgba(10, 10, 10, 0.7);
  background-color: rgba(31,67,134,0.90);*/
  /*background-color: rgba(62,62,62,0.97);*/
  background: rgba(53,53,53,0.99);
  /*padding-top: 40%;*/
  /*display: table;*/
  margin: 8px 8px;
  border-radius: 3px;
}

/*.menu.level-one.icon.icon-draw {
  background: url('../assets/images/draw.png') no-repeat 49% / 90px, linear-gradient(90deg, rgba(53,53,53,0.99) 50%, rgba(53,53,53,0.89) 50%);
}*/

.toolbar .menu.level-one {
  background: linear-gradient(90deg, rgba(53,53,53,0.99) 50%, rgba(53,53,53,0.89) 50%);
}

.menu-text {
  position: absolute;
  right: 10px;
  margin-top: 90%;
}

.icon-draw .menu-text {
  right: 9px;
}
.icon-tool .menu-text {
  right: 11px;
}
.icon-color .menu-text {
  right: 8px;
}

.show .menu-text {
  width: 96%;
  left: 8px;
  margin-top: 110%;
}

.valign-text {
  /*display: table-cell;
  vertical-align: middle;*/
  text-align: center;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: flex-end; /* align vertical */
}

/*.level-two-items .valign-text {
  margin-top: 120px;
}*/

.level-three .valign-text {
  line-height: 13;
}

.menu .wb-submenu-opener {
  width: 40%;
  height: 102.4%;
  margin: 0;
  float: right;
  position: relative;
  display: none;
  background-color: transparent;
}

.menu .wb-submenu-opener.show {
  display: block !important;
}

.toolbar .menu.level-two {
  width: 100%;
  /*height: 100%;*/
  height: 97.5%;
  position: absolute;
  margin-left: 200px;
  /*background-color: orange;*/
  /*background-color: rgba(10, 10, 10, 0.8);*/
  background-color: rgba(33, 33, 33, 0);
  top: 0px;
  left: -400px;
}

.toolbar .tool.menu.level-two,
.toolbar .draw.menu.level-two {
  height: 95.1%;
}

.toolbar .menu.level-two.show {
  left: 0;
}

.level-two-items {
  height: 100%;
  z-index: 1;
  /*margin: 0px 6px;*/
  margin: 0px 0 0 6px;
  background-color: rgba(53,53,53,0.99);
  border-radius: 3px;
}

.level-two-items:not(:last-child) {
  margin-bottom: 8px;
}

.toolbar .menu.level-three {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: 200px;
  margin-right: 0px;
  background-color: transparent;
  top: 0px;
  left: -600px;
}

.toolbar .level-three.icon {
  width: 100%;
}

.toolbar .menu.level-three.show {
  left: 0;
}

.level-three-items {
  height: 100%;
  position: relative;
  z-index: 1;
  top: -8px;
  padding: 0 0px 8px 8px;
}

.color-palette {
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
/*.level-three-items:after {
  content: '';
  width: 100%;
  height: 100%;
  margin: 8px 8px; 
}
*/

/*
 *
 * ICONS
 *
 */

.level-one .icon  {
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 94%;
  width: 100%;
  height: 100%;
  position: absolute;
  width: 95.8%;
  /*height: 33%;*/
}

.icon,
.show .level-one .icon {
  background-repeat: no-repeat;
  background-size: 90px;
  background-position: 50%;
}

/* Icons level one */
.icon-draw {
  background-image: url('../assets/images/draw.png');
}

.icon-tool {
  background-image: url('../assets/images/tool.png');
}

.icon-color {
  background-image: url('../assets/images/color.png');
}

/* Icons level two/one */
.icon-path {
  background-image: url('../assets/images/path.png');
}

.icon-line {
  background-image: url('../assets/images/line.png');
}

.icon-arrow {
  background-image: url('../assets/images/arrow.png');
  background-size: 75px;
}

.icon-rectangle {
  background-image: url('../assets/images/rectangle.png');
}

.icon-circle {
  background-image: url('../assets/images/circle.png');
}

/* Icons level two/one */
.icon-magnify {
  background-image: url('../assets/images/magnify.png');
  background-size: 60px;
}

.icon-eraser {
  background-image: url('../assets/images/eraser.png');
}

.icon-pan {
  background-image: url('../assets/images/pan.png');
}

.icon-move {
  background-image: url('../assets/images/move.png');
}

.icon-copy {
  background-image: url('../assets/images/copy.png');
}

/* Icons level two/three */
.icon-stroke {
  background-image: url('../assets/images/stroke.png');
}

.icon-fill {
  background-image: url('../assets/images/fill.png');
}

/*
 *
 * FONTS
 *
 */

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/*
/** Regular
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
*/

/*
 *
 * MEDIA QUERIES
 *
 */

 @media (max-height: 950px) {

  .toolbar .menu.level-three {
    height: 100%;
  }  


}

@media (max-height: 900px) {
  
  .toolbar {
    height: 99%;
  }

  /*.toolbar .menu.level-two {
    height: 97.7%;
  }*/

  .toolbar .menu.level-two.tool,
  .toolbar .menu.level-two.draw {
    height: 94.9%;
  }

  .toolbar .menu.level-three {
    height: 99.5%;%;
  }  


}

@media (max-height: 800px) {
  
  .toolbar {
    height: 99%;
  }

  .show .menu-text {
    margin-top: 100%;
  }

  .valign-text {
    line-height: 0;
  }

  .level-three .valign-text {
    line-height: 9;
  }

  .toolbar .menu.level-two {
    height: 97.7%;
  }

  .toolbar .menu.level-two.tool,
  .toolbar .menu.level-two.draw {
    height: 94.7%;
  }

  .toolbar .menu.level-three {
    height: 98.5%;
  }  


}

@media (max-height: 750px) {
  
  .toolbar .menu.level-three {
    height: 97.9%;
  }

}

@media (max-height: 700px) {
  
  .toolbar {
    height: 99%;
  }

  .toolbar .menu.level-two {
    height: 97.7%;
  }

  .toolbar .menu.level-two.tool,
  .toolbar .menu.level-two.draw {
    height: 94.4%;
  }

  .level-two-items.icon {
    background-size: 70px;
  }

  .level-two-items.icon.icon-magnify {
    background-size: 45px;
  }

  .level-two-items.icon.icon-arrow {
    background-size: 65px;
  }

  .toolbar .menu.level-three {
    height: 97.2%;
  }  

}

@media (max-height: 660px) {
  
  .show .menu-text {
    margin-top: 85%;
  }

  .valign-text {
    line-height: 0;
  }

  .level-three .valign-text {
    line-height: 9;
  }

  .toolbar .menu.level-two {
    height: 97.9%;
  }

  .toolbar .menu.level-three {
    height: 96.7%;
  }

}

@media (max-height: 650px) {
  
  .toolbar .menu.level-three {
    height: 96.6%;
  }

}

@media (max-height: 600px) {
  
  .toolbar {
    height: 98%;
  }

  .menu-text {
    margin-top: 70%;
  }

  .toolbar .menu.level-two {
    height: 98.1%;
  }

  .toolbar .menu.level-two.tool,
  .toolbar .menu.level-two.draw {
    height: 95.5%;
  }

  .toolbar .menu.level-three {
    height: 95.4%;
  }

  .level-two-items.icon {
    background-size: 50px;
  }

  .level-two-items.icon.icon-magnify {
    background-size: 35px;
  }

  .level-two-items.icon.icon-arrow {
    background-size: 45px;
  }

}

@media (max-height: 550px) {
 
  .toolbar .menu.level-two.tool,
  .toolbar .menu.level-two.draw {
    height: 93.7%;
  }

  .toolbar .menu.level-three {
    height: 94.5%;
  }

  .show .menu-text {
    margin-top: 75%;
  }

}

@media (max-height: 500px) {
  
  .toolbar {
    height: 97%;
  }

  .show .menu-text {
    margin-top: 70%;
  }

  .toolbar .menu.level-two.tool,
  .toolbar .menu.level-two.draw {
    height: 93.3%;
  }

  .toolbar .menu.level-two {
    height: 98.3%;
  }

  .toolbar .menu.level-three {
    height: 92.9%;
  }

  .level-two-items.icon {
    background-size: 40px;
  }

  .level-two-items.icon.icon-magnify {
    background-size: 25px;
  }

  .level-two-items.icon.icon-arrow {
    background-size: 30px;
  }

}








