<div class="toolbar">
  <div class="menu level-one wb-menu-opener icon icon-{{menu[0].toLowerCase()}}" ng-repeat="menu in menuStructure" style="height: {{96.7/menuStructure.length}}%">
    <p class="menu-text valign-text" style="height: {{96.7/menuStructure.length}}%" >{{menu[0]}}</p>
    <div class="menu wb-submenu-opener" wb-level="2"></div>
    <div class="menu level-two wb-submenu {{menu[0].toLowerCase()}}" wb-level="2">
      <div class="level-two-items wb-submenu-items valign-text icon icon-{{subMenu.toLowerCase()}}" wb-tool="{{setAttributeTool(subMenu)}}" ng-repeat="subMenu in menu[1]" style="height: {{100/menu[1].length}}%">
        <div ng-if="subMenu.toUpperCase()" class="valign-text">
          <p>{{subMenu}}</p>
        </div>
        <div ng-if="!subMenu.toUpperCase()" style="height: 100%" class="level-three icon icon-{{subMenu[0].toLowerCase()}}">
          <p class="menu-text valign-text">{{subMenu[0]}}</p>
          <div class="menu wb-submenu-opener" wb-level="3"></div>
          <div class="menu level-three wb-submenu" wb-level="3">
            <div class="level-three-items wb-submenu-items" wb-color-type="{{subMenu[0].toLowerCase()}}" wb-color="{{color}}" ng-repeat="color in subMenu[1]" style="height: {{93.1/subMenu[1].length}}%;">
              <!-- <p>{{color}}</p> -->
              <div class="color-palette" style="background-color: {{color}}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>