<div class="toolbar">
  <!-- <div class="toolbar-container" ng-mouseover="expandMenu('left')" ng-mouseleave="shrinkMenu('left')">
    <div class="toolbar left fill"></div>
    <div class="toolbar left stroke"></div>
    <div class="toolbar left toolbelt"></div>
  </div> -->
  <select name="tools" ng-model="wbToolSelect">
    <option value="path" selected>Path</option> 
    <option value="line" selected>Line</option> 
    <option value="rectangle">Rectangle</option>
    <option value="circle">Circle</option>
    <option value="text">Text</option>
    <option value="eraser">Eraser</option>
    <option value="move">Move Shape</option>
    <option value="pan">Pan</option>
    <option value="magnify">Zoom Lens</option>
  </select>
  <button colorpicker type="button" colorpicker-position="top" ng-model="wbFillColorSelect">Change Fill</button>
  <button colorpicker type="button" colorpicker-position="top" ng-model="wbStrokeColorSelect">Change Stroke</button>
  <button ng-click="wbStrokeWidthDown()">-</button>
    <input ng-model="wbStrokeWidth" placeholder="Stroke Width" style="width:50px;">
  <button ng-click="wbStrokeWidthUp()">+</button>
</div>

